<template>
  <h2>Average Account Balance by Name Length</h2>
  <Chart
    :size="{ width: 500, height: 400 }"
    :data="data"
    :margin="margin"
    :direction="direction"
  >
    <template #layers>
      <Grid strokeDasharray="2,2" />
      <Line :dataKeys="['nameLength', 'average']" />
    </template>
  </Chart>
</template>

<script >
import { defineComponent, ref } from "vue";
import { Chart, Grid, Line } from "vue3-charts";

export default defineComponent({
  name: "NameLengthBalanceChart",
  props: { accounts: Array },
  components: { Chart, Grid, Line },
  setup(props) {
    const nameLengthsAndTotals = props.accounts
      .map((account) => {
        return {
          nameLength: account.name().length,
          balance: account.balance,
        };
      })
      .reduce((accumulator, currentValue) => {
        if (accumulator[currentValue.nameLength] == null) {
          accumulator[currentValue.nameLength] = {
            count: 1,
            total: currentValue.balance,
          };
          return accumulator;
        } else {
          const accumulation = accumulator[currentValue.nameLength];
          accumulator[currentValue.nameLength] = {
            count: accumulation.count + 1,
            total: accumulation.total.adding(currentValue.balance),
          };
          return accumulator;
        }
      }, {});
    const nameLengthsAndAverages = Object.entries(nameLengthsAndTotals).map(
      ([key, value]) => {
        return {
          nameLength: key,
          average: Number(value.total.amount) / value.count,
        };
      }
    );

    const data = ref(nameLengthsAndAverages);
    const direction = ref("horizontal");
    const margin = ref({
      left: 0,
      top: 20,
      right: 20,
      bottom: 0,
    });

    return { data, direction, margin };
  },
});
</script>