<template>
  <h2>Readiness Percentage</h2>
  <Chart
    :size="{ width: 500, height: 400 }"
    :data="data"
    :margin="margin"
    :direction="direction"
  >
    <template #layers>
      <Grid strokeDasharray="2,2" />
      <Line :dataKeys="['rating', 'percentage']" />
    </template>
  </Chart>
</template>

<script >
import { defineComponent, ref } from "vue";
import { Chart, Grid, Line } from "vue3-charts";

export default defineComponent({
  name: "ReadinessPercentageChart",
  props: { accounts: Array },
  components: { Chart, Grid, Line },
  setup(props) {
    const ratingCounts = props.accounts
      .map((account) => {
        return account.rating();
      })
      .reduce(
        (accumulator, currentValue) => {
          if (accumulator[currentValue] == null) {
            accumulator[currentValue] = 1;
            return accumulator;
          } else {
            accumulator[currentValue] = accumulator[currentValue] + 1;
            return accumulator;
          }
        },
        { 0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0 }
      );
    const ratingAndPercentages = Object.entries(ratingCounts).map(
      ([key, value]) => {
        return {
          rating: key,
          percentage: (value / props.accounts.length) * 100,
        };
      }
    );

    const data = ref(ratingAndPercentages);
    const direction = ref("horizontal");
    const margin = ref({
      left: 0,
      top: 20,
      right: 20,
      bottom: 0,
    });

    return { data, direction, margin };
  },
});
</script>