<template>
  <div class="card">
    <div><img :src="account.picture" class="picture" /></div>
    <h2 class="name">{{ account.name() }}</h2>
    <p>{{ account.balance.toString() }}</p>
    <p>
      <a :href="`mailto:` + account.email">Email</a>
      |
      <a :href="`tel:` + account.phone">Call</a>
    </p>

    <p>Readiness: {{ account.rating() }}/5</p>
  </div>
</template>

<script>
export default {
  name: "Card",
  props: { account: Object },
};
</script>

<style scoped>
.card {
  padding: 2rem;
  margin: 2rem 0 0;
  border-radius: 2rem;
  background-color: bisque;
  border-color: magenta;
  border-width: 0.125rem;
  border-style: solid;
  width: 10rem;
  height: 17rem;
}

.card .picture {
  width: 5rem;
  height: 5rem;
  margin: auto;
}
</style>