<template>
  <div class="card-list">
    <ul>
      <li v-for="account in accounts" :key="account.id">
        <Card :account="account" :key="account.id" />
      </li>
    </ul>
  </div>
</template>

<script>
import Card from "./Card.vue";

export default {
  name: "CardList",
  props: {
    accounts: Array,
  },
  components: { Card },
};
</script>

<style scoped>
ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  justify-content: space-between;
}

li {
  flex: content;
}
</style>