<template>
  <div>
    <h1>Accounts</h1>
    <CardList :accounts="accounts" v-if="accounts != null" />
    <Loading v-if="accounts == null" />
  </div>
</template> 

<script>
import CardList from "@/components/cards/CardList.vue";
import Loading from "@/components/Loading.vue";
export default {
  name: "Accounts",
  components: { CardList, Loading },
  computed: {
    accounts() {
      return this.$store.state.accounts;
    },
  },
};
</script>