<template>
  <div class="home">
    <h1>Mortgage Scores</h1>

    <ol>
      <li>
        Show accounts as cards with an overview of their information such as
        name, a link to their email and phone number, etc. On this card also put
        an indicator of how close they are to being able to obtain a mortgage.
        Factors you may want to consider are credit score (credit), current
        savings balance (balance), etc. (Feel free to make assumptions around
        how to create this indicator, no need to research for actual
        calculations)
      </li>
      <li>
        Show an analytical overview with charts, tables, etc - anything you want
        to display interesting statistics about the accounts. Maybe a chart
        showing how many accounts fall into your indicator categories?
      </li>
    </ol>
  </div>
</template>

<script>
export default {
  name: "Home",
  components: {},
};
</script>

<style scoped>
ol li {
  text-align: left;
  padding-bottom: 1rem;
}
</style>
