<template>
  <div>
    <h1>Overview</h1>
    <ReadinessPercentageChart :accounts="accounts" v-if="accounts != null" />
    <NameLengthBalanceChart :accounts="accounts" v-if="accounts != null" />

    <Loading v-if="accounts == null" />
  </div>
</template> 

<script>
import NameLengthBalanceChart from "@/components/charts/NameLengthBalanceChart.vue";
import ReadinessPercentageChart from "@/components/charts/ReadinessPercentageChart.vue";
import Loading from "@/components/Loading.vue";
export default {
  name: "Overview",
  components: { NameLengthBalanceChart, ReadinessPercentageChart, Loading },
  computed: {
    accounts() {
      return this.$store.state.accounts;
    },
  },
};
</script>